* {
    box-sizing: border-box;
 }

 h1 {
    text-align: center;
    color:#df0e0e;
 }

 .outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-items: center;
    column-gap: 10px;
 }

 .inner-grid {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
 }

 .inner-grid img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
 }
 p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    color: rgb(13, 219, 140);

 }
